<!-- Menu -->
<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/bookmarks">Bookmarks</a></li>
        <li>
       <span class="opener">FILE - WIBU</span>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/daftar-anime">Daftar Anime</a></li>
                <li><a href="/jadwal-rilis">Jadwal Anime</a></li>
                <li><a href="/complete-anime">Complete Anime</a></li>
                <li><a href="#">Genre</a></li>
            </ul>
        </li>

             {% comment %} <li>
            <span>Brightness (Only work in reader)</span>
            <input type="range" class="form-range" id="brightness" min="10" max="100" value="80">
        </li> {% endcomment %}
    </ul>
</nav>

<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; MADRWGN. All rights reserved. Design: <a
        href="https://madewgn.my.id">Made Wiguna</a>.</p>
</footer>
